
@import "_variables";
@import "_normalize";

// BASIC


html {
  position: relative;
}

body, html {
  font-size: 12px;
  margin: 0;
  font-family: $generaltext;
  background: #10202f;
}

.innerWrapper {
  max-width: 1170px;
  width: 80%;
  margin: 0 auto;
}

header {
  background-image: url(images/photo-1475483768296-6163e08872a1.jpeg);
  background-size: cover;
  background-position: center;
  min-height: 40vh;
  text-align: center;
  color: #efefef;
  padding: 30px 0;
  position: relative;
}

.headertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: $headertext;
  font-size: 8rem;
  padding: 1px;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-size: $secondtext;
  margin: 0;
}

main {
  padding: 50px 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.findingStores {
  display: none;
}


.pages {
  margin: 40px 0;
  padding: 40px 30px;
  background: $blue;
}

footer {
  text-align: center;
  color: #efefef;
  padding: 20px 0;
  font-size: 1.2rem;
  a {
    color: $yellow;
    &:hover {
      color: $blue;
    }
  }
}

.storeSearch {
  text-decoration: none;
  text-align: center;
} 


input[type=radio] {
  display: none;
}

label, input[type=submit], input[type=search], .storeSearch {
  background: white;
  padding: 10px;
  border: $red 2px solid;
  font-size: 1.5rem;
  margin: 10px 5px;
  display: inline-block;
}


input[type=radio]:checked + label, label:hover, label:focus, .storeSearch:hover, .storeSearch:focus {
  background-color: $yellow;
  border: $red 2px solid;
}

input[type=submit], .storeSearch {
  display: block;
  background: $red;
  color: white;
}

input[type=submit]:hover, input[type=submit]:focus {
  background-color: $yellow;
  border: $red 2px solid;
}

.results {
  background: white;
  padding: 20px;
  article {
    display: inline-block;
    padding: 25px;
    flex: 0 0 50%;
    background: white;
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.2rem;
      margin: 0;
    }
    .imageDiv {
      width: 40%;
      img {
        width: calc(90% - 10px);
        margin: 0 5px;
        align-self: center;
      } 
    }
    .textDiv {
      width: 60%;
    }
  }
}

#storeResults {
  background: white;
  padding: 20px;
  article {
    display: inline-block;
    padding: 25px;
    flex: 0 0 175px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.2rem;
      margin: 0;
    }
    img {
      width: 100%;
    } 
  }
}


.findingStores {
  position: absolute;
  z-index: 3;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
  p {
    font-size: 1.4rem;
    margin: 0;
  }
}

#storeResults article {
  padding: 20px 10px;
}

.overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.5;
  display: none;
  z-index: 2;
}

.pickchocolate {
  display: none;
  background: white;
  h3 {
    font-size: 1.5rem;
  }
}


@import "_media";

